DATABASE_URL=
DIRECT_URL=
# SHADOW_DATABASE_URL=...
OPTIMIZE_API_KEY=

OPENAI_API_KEY=

TRIGGER_API_KEY=
TRIGGER_API_URL=

# trigger.dev v3
TRIGGER_SECRET_KEY=

REDIS_REST_URL=
REDIS_REST_TOKEN=

POSTMARK_SERVER_TOKEN=
POSTMARK_FROM_EMAIL=

NEXT_PUBLIC_POSTHOG_KEY=
NEXT_PUBLIC_POSTHOG_HOST=

PINECONE_API_KEY=
PINECONE_INDEX_NAME=
PINECONE_ENVIRONMENT=
PINECONE_CHUNK_SIZE=
PINECONE_CHUNK_OVERLAP=

SEQUIN_WEBHOOK_SECRET=

NEXT_PUBLIC_TURNSTILE_SITE_KEY=
TURNSTILE_SECRET_KEY=

TERMLY_WEBSITE_UUID=